@import "zmienne.less";

body {
    zoom: 1;

    @page {
        size: unit(@arkusz_w + 2*@spad, mm) unit(@arkusz_h + 2*@spad, mm);
        margin: 0;
        padding: 0;
    }

    margin: 0;
    padding: 0;
    top: 0;
    background-color: transparent;

    section {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        float: none;
        page-break-inside: avoid;
        width: unit(@arkusz_w + 2*@spad, mm);
        height: unit(2 * @arkusz_h + 4 * @spad, mm); //Sekcja to dwa artykuły
        align-content: flex-start;

        article {
            page-break-before: always;
            height: unit(@arkusz_h + 2*@spad, mm);

            &.prawa {
                right: 0;
                margin: 0;

                .wielkanoc {
                    right: 15mm;
                }
            }

            &.lewa {
                left: 0;
                margin: 0;

                .wielkanoc {
                    left: 15mm;
                }
            }
        }

        &#wkladka-1 {
            height: unit(@arkusz_h + 2*@spad, mm);

            .lewa {
                display: none;
            }
        }

        &#wkladka-3 {
            height: unit(@arkusz_h + 2*@spad, mm);
        }
    }
}